.lead{
    max-width: 984px;
    margin: 0 auto;
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .lead{
        padding-bottom: 88px;
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead{
        margin: 0;

    }
}

@media screen and (max-width: 450px) {
    .lead{
        padding-bottom: 64px;
    }
}