.place__website-link{
    text-decoration: underline;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: left;
    transition: 0.5 ease-in;
}

.place__website-link:hover{
    opacity: 0.8;
}