.header__lang-links{
    font-weight: 400;
    font-family: 'Inter', 'Helvetica', sans-serif;
    padding-bottom: 3px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-end;
}